{% extends "base.html" %}
{% block title %}Solve solvable problems{% endblock %}
{% block subnav %}
<ul>
<li><a href="love_map/">Love map</a></li>
<li><a href="foundness_and_admiration/">Fondness and admiration</a></li>
<li><a href="turn_toward/">Turn toward</a></li>
<li><a href="accept_influence/">Accept influence</a></li>
<li><a href="solve_solvable_problems/">Solve solvable problems</a></li>
<li><a href="overcome_gridlock/">Overcome gridlock</a></li>
<li><a href="create_shared_meaning/">Create shared meaning</a></li>
</ul>
{% endblock %}
