<html>
<head>
<title>Solve Becoming parents Problems | InfluenceAPI</title>
<script src="/static/js/jquery-1.9.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/screen.css" />

</head>
<body>
<h2>Solve Becoming parents Problems</h2>
<ul>
<li><a href="love_map/">Love map</a></li>
<li><a href="foundness_and_admiration/">Fondness and admiration</a></li>
<li><a href="turn_toward/">Turn toward</a></li>
<li><a href="accept_influence/">Accept influence</a></li>
<li><a href="solve_solvable_problems/">Solve solvable problems</a>
<ul>
<li><a href="/marriage/solve_solvable_problems/typical_problems/stress/">Stress</a></li>
<li><a href="/marriage/solve_solvable_problems/typical_problems/relations_with_in_laws/">Relations with in-laws</a></li>
<li><a href="/marriage/solve_solvable_problems/typical_problems/money/">Money</a></li>
<li><a href="/marriage/solve_solvable_problems/typical_problems/sex/">Sex</a></li>
<li><a href="/marriage/solve_solvable_problems/typical_problems/housework/">Housework</a></li>
<li><strong>Becoming parents</strong></li>

</ul>
</li>
<li><a href="overcome_gridlock/">Overcome gridlock</a></li>
<li><a href="create_shared_meaning/">Create shared meaning</a></li>
</ul>
</div>
</body>
</html>