{% extends "base.html" %}
{% block title %}Solve housework problems{% endblock %}
{% block subnav %}
<ul id="subnav">
<li><a href="/marriage/love_map/">Love map</a></li>
<li><a href="/marriage/foundness_and_admiration/">Fondness and admiration</a></li>
<li><a href="/marriage/turn_toward/">Turn toward</a></li>
<li><a href="/marriage/accept_influence/">Accept influence</a></li>
<li><a href="/marriage/solve_solvable_problems/" class="current">Solve solvable problems</a>
<ul>
<li><a href="/marriage/solve_solvable_problems/typical_problems/" class="current">Typical problems</a></li>
<ul>
<li><a href="/marriage/solve_solvable_problems/typical_problems/stress/">Stress</a></li>
<li><a href="/marriage/solve_solvable_problems/typical_problems/relations_with_in_laws/">Relations with in-laws</a></li>
<li><a href="/marriage/solve_solvable_problems/typical_problems/money/">Money</a></li>
<li><a href="/marriage/solve_solvable_problems/typical_problems/sex/">Sex</a></li>
<li><strong>Housework</strong></li>
<li><a href="/marriage/solve_solvable_problems/typical_problems/becoming_parents/">Becoming parents</a></li>

</ul>
</li>
<li><a href="/marriage/overcome_gridlock/">Overcome gridlock</a></li>
<li><a href="/marriage/create_shared_meaning/">Create shared meaning</a></li>
</ul>
</li>
</ul>
{% endblock %}
{% block main %}

{% endblock %}
</body>
</html>
