@import url('reset.css');

body {
background:url('../images/background.png') top right repeat-y;
font:.9em/1.5em helvetica, arial, sans-serif;
text-align:center;
}

#choices {
width:500px;
margin:0 auto;
}

#choices a:link, #choices a:visited {
width:500px;
padding:10px;
font-size:2em;
background:yellow;
margin-bottom:10px;
display:block;
}

#choices a:hover {
background:orange;
}

p {font-size:1.5em;}

#header {
height:44px;
text-align:center;
background:#000 url('../images/header_background.png') top right no-repeat;
margin-right:200px;
color:#FFF;

}

h1 {
height:44px;
}


h1 span {
display:none;
}

#nav {
padding-top:5px;
height:25px;
background:#2e3192;
}

#nav, p {
margin-bottom:10px;
}

#nav ul {
color:#FFF;
}

#nav li {
margin-right:20px;
}

#nav a:link, #nav a:visited {
color:#FFF;
}

#nav a:hover {
text-decoration:none;
}

h1, #nav ul, #content {
width:800px;
margin:0 auto;
}

.floatleft {
float:left;
}

img.floatleft {
margin:0 10px 10px 0;
}

strong {
font-weight:bold;
}

textarea {
width:600px;
height:200px;
border:1px solid #000;
}


#edit_rules {
margin:0 auto;
}

#edit_rules td, #edit_rules th {
border:1px solid #DCDCDC;
padding:5px;
}

#edit_rules th {
font-weight:bold;
}

#edit_rules input {
width:400px;
}

#goals {
border-collapse:collapse;
}

#goals th, #goals td {
padding:5px;
border:1px solid #DCDCDC;
}

#subnav { margin-left: 30px; }

#subnav
{
float:right;
margin: 0;
padding: 0;
list-style-type: none;
font: .8em Helvetica, sans-serif;
text-align:left;
}

#subnav a:link, #subnav a:visited, #subnav strong
{
display: block;
padding: 5px 10px;
width: 180px;
color: #fff;
background-color: #C00;
text-decoration: none;
border-bottom:1px solid #FFF;
}

#subnav a:hover
{
color: #fff;
background-color: #F00;
text-decoration: none;
}


#subnav ul a:link, #subnav ul a:visited, #subnav ul strong
{
display: block;
padding-left:15px;
width: 175px;
color: #fff;
text-decoration: none;
}

#subnav a.current:link, #subnav strong.current {
border-bottom:2px solid #FFF;
}

#subnav ul a.current:link, #subnav ul strong.current {
border-bottom:3px solid #FFF;
}

#subnav ul ul a.current:link, #subnav ul ul strong.current {
border-bottom:4px solid #FFF;
}

#subnav ul a:hover, #subnav ul strong
{
color: #fff;
text-decoration: none;
}

#subnav ul ul a:link, #subnav ul ul a:visited, #subnav ul ul strong
{
display: block;
padding-left:20px;
width: 170px;
color: #fff;
text-decoration: none;
}


#subnav ul ul a:hover, #subnav ul ul strong
{
color: #fff;
text-decoration: none;
}

#main {
background:url('../images/main_background.png') top right no-repeat;
margin-right:200px;
.}

