{% extends "base.html" %}
{% block title %}Daily Goals Status{% endblock %}
{% block main %}
<h2>Daily Goals</h2>
<p><strong>Add goal:</strong> <input type="text" style="width:400px" id="goal_statement" />
<input type="button" value="Save goal" id="save_goal" />
</p>
<table id="goals">
<tr>
<th>Date</th>
{% for goal_statement in goal_statements %}
<th class="goal_{{ goal_statement.id }}"><strong>Goal:</strong> {{ goal_statement.statement }} <input type="button" value="X" onclick="deleteGoal({{ goal_statement.id }});" /></th>
{% endfor %}
</tr>
{% for date in daterange %}
<tr>
<td>{{ date|date:"D n/j/y" }}</td>
{% for goal_statement in goal_statements %}
<td class="goal_{{ goal_statement.id }}" id="{{ goal_statement.id }}{{ date|date:"njy" }}"><input type="button" value="Yes" onclick="updateStatus('{{ date|date:"n-j-y"}}', {{ goal_statement.id }}, true, {{ goal_statement.id }}{{ date|date:"njy" }})" />
<input type="button" value="No" onclick="updateStatus('{{ date|date:"n-j-y"}}', {{ goal_statement.id }}, false, '{{ goal_statement.id }}{{ date|date:"njy" }}')" /></td>
{% endfor %}
</tr>
{% endfor %}
{% for goal_status_for_date in goal_status_for_dates %}
<tr>
<td>{{ goal_status_for_date.date|date:"D n/j/y" }}</td>
{% for status in goal_status_for_date.statuses %}
{% if status.exists = True %}
{% if status.ok == True %}
<td class="goal_{{ status.daily_goal.id }}" id="{{ status.daily_goal.id }}{{ goal_status_for_date.date|date:"njy" }}"><input type="button" value="Yes" onclick="updateStatus('{{ goal_status_for_date.date|date:"n-j-y"}}', {{ status.daily_goal.id }}, true, '{{ status.daily_goal.id }}{{ goal_status_for_date.date|date:"njy" }}')" />
<input type="button" value="No" onclick="updateStatus('{{ goal_status_for_date.date|date:"n-j-y"}}', {{ status.daily_goal.id }}, false, '{{ status.daily_goal.id }}{{ goal_status_for_date.date|date:"njy" }}')" /></td>
{% else %}
{% if status.rowspan %}
<td class="goal_{{ status.daily_goal.id }}" rowspan="{{ status.rowspan }}"></td>
{% endif %}
{% endif %}

{% else %}
<td class="goal_cell goal_{{ goal_statement.id }}" {% if status.status == True %}style="background:green"{% else %}style="background:red"{% endif %}>{% if status.status %}Yes{% else %}No{% endif %}</td>
{% endif %}
{% endfor %}
</tr>
{% endfor %}
<tr>
<th>Record streak</th>
{% for goal_statement in goal_statements %}
<td class="goal_{{ goal_statement.id }}">{{ goal_statement.count_streaks.true_streak_record }} days</td>
{% endfor %}
</tr>
<tr>
<th>Streaks</th>
{% for goal_statement in goal_statements %}
<td class="goal_{{ goal_statement.id }}">{{ goal_statement.count_streaks.true_streaks }}</td>
{% endfor %}
</tr>
<tr>
<th>Achieved goal</th>
{% for goal_statement in goal_statements %}
<td class="goal_{{ goal_statement.id }}">{{ goal_statement.achieved_goal.percentage }}% ({{ goal_statement.achieved_goal.numerator }}/{{ goal_statement.achieved_goal.denominator }})</td>
{% endfor %}
</tr>
</table>
<h3>Essays</h3>
{% for goal_statement in goal_statements %}
<p>{{ goal_statement.essay }}</p>
{% endfor %}

{% endblock %}
